----
<font size=3>
    
**Import packages needed.**
<br><br>

In [296]:
import pandas as pd
from datetime import datetime
import csv
import numpy as np

<font size=6>
<br><br>     

**Daily Excess Rate**

----
<font size=4>
    
**Daily Excess Rate = returns achieved above the return of a proxy.**
    
**We want calculate the daily oil returns above the 3 month treasury bill rate.**

<br><br>
    
**Use Pandas to import 3 month treasury bill rate csv file and delete the rows missing data.**
<br><br>

In [297]:
T = pd.read_csv('3MO.csv')
T = T[T.DTB3 != '.']

----
<font size=3>
    
**Review the dataframe.**
<br><br>

In [298]:
T.head(10)

          DATE  DTB3
0   2016-08-26  0.33
1   2016-08-29  0.33
2   2016-08-30  0.33
3   2016-08-31  0.33
4   2016-09-01  0.33
5   2016-09-02  0.32
7   2016-09-06  0.32
8   2016-09-07  0.34
9   2016-09-08  0.34
10  2016-09-09  0.34

In [299]:
T.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1210 entries, 0 to 1262
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    1210 non-null   object
 1   DTB3    1210 non-null   object
dtypes: object(2)
memory usage: 28.4+ KB

----
<font size=3>
    
**From the above information, we need to convert 'DATE' column to datetime format and 'DTB3' column to float format.**     
**We also need to convert the rate from percentage to decimal.** 
<br><br> 
**In addition, we would like to change 'DTB3' column name to 'Rate' for clarity.** 

<br><br>

In [300]:
T['DATE'] = pd.to_datetime(T['DATE'])
T['DTB3'] = pd.to_numeric(T['DTB3'], downcast="float")

In [301]:
T['DTB3'] = T['DTB3'].div(100)

In [302]:
T.rename(columns={'DTB3': 'Rate'}, inplace=True)

----
<font size=3>
    
**Sub-Dataframe to contain the data from '2019-12-31' to '2020-12-31'. Name it 'chooseT'.**
<br><br>
**Double check the dataframe and make sure we got the right form for future convenience.**

<br><br>

In [303]:
Tdate = (T['DATE'] > '2019-12-30') & (T['DATE'] <= '2020-12-31')
chooseT = T.loc[Tdate]

In [304]:
chooseT.head(10)

          DATE    Rate
872 2019-12-31  0.0152
874 2020-01-02  0.0151
875 2020-01-03  0.0149
876 2020-01-06  0.0153
877 2020-01-07  0.0151
878 2020-01-08  0.0151
879 2020-01-09  0.0151
880 2020-01-10  0.0151
881 2020-01-13  0.0154
882 2020-01-14  0.0154

In [305]:
chooseT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251 entries, 872 to 1133
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    251 non-null    datetime64[ns]
 1   Rate    251 non-null    float32
dtypes: datetime64[ns](1), float32(1)
memory usage: 4.9 KB

----
<font size=4>
    
**Import the second spreadsheet of oil prices in the xls file.**
<br><br>

In [306]:
xls = pd.ExcelFile('RWTCd.xls')
df = pd.read_excel(xls, 'Data 1',skiprows = 2)

----
<font size=3>
    
**Review the dataframe.**
<br><br>

In [307]:
df

           Date  Cushing, OK WTI Spot Price FOB (Dollars per Barrel)
0    1986-01-02                                              25.56
1    1986-01-03                                              26.00
2    1986-01-06                                              26.53
3    1986-01-07                                              25.85
4    1986-01-08                                              25.87
...         ...                                                ...
8977 2021-08-17                                              66.50
8978 2021-08-18                                              65.36
8979 2021-08-19                                              63.69
8980 2021-08-20                                              62.25
8981 2021-08-23                                              65.65

[8982 rows x 2 columns]

In [308]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8982 entries, 0 to 8981
Data columns (total 2 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Date                                                 8982 non-null   datetime64[ns]
 1   Cushing, OK WTI Spot Price FOB (Dollars per Barrel)  8982 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 140.5 KB

----
<font size=3>
    
**For convenience, shorten the price column name to 'Price' and change the 'Date' to 'DATE' to conform with T dataframe.**
<br><br>

In [309]:
df.rename(columns={'Cushing, OK WTI Spot Price FOB (Dollars per Barrel)': 'Price'}, inplace=True)
df.rename(columns={'Date': 'DATE'}, inplace=True)

----
<font size=3>
    
**Calculate the returns from the prices and add it to the oil prices dataframe.**
<br><br>

In [310]:
returns = df['Price'].pct_change()
returns

0            NaN
1       0.017214
2       0.020385
3      -0.025631
4       0.000774
          ...
8977   -0.013938
8978   -0.017143
8979   -0.025551
8980   -0.022610
8981    0.054618
Name: Price, Length: 8982, dtype: float64

In [311]:
df['Return'] = returns.tolist()

----
<font size=3>
    
**Sub-Dataframe to contain the data from '2019-12-31' to '2020-12-31'. Name it 'choosedf'.**
<br><br>
**Double check the dataframe and make sure we got the right form for future convenience.**

<br><br>

In [312]:
dfdate = (df['DATE'] > '2019-12-30') & (df['DATE'] <= '2020-12-31')
choosedf = df.loc[dfdate]

In [313]:
choosedf.head(10)

           DATE  Price    Return
8568 2019-12-31  61.14 -0.008433
8569 2020-01-02  61.17  0.000491
8570 2020-01-03  63.00  0.029917
8571 2020-01-06  63.27  0.004286
8572 2020-01-07  62.70 -0.009009
8573 2020-01-08  59.65 -0.048644
8574 2020-01-09  59.56 -0.001509
8575 2020-01-10  59.02 -0.009066
8576 2020-01-13  58.17 -0.014402
8577 2020-01-14  58.34  0.002922

In [314]:
choosedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253 entries, 8568 to 8820
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    253 non-null    datetime64[ns]
 1   Price   253 non-null    float64
 2   Return  253 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 7.9 KB

----
<font size=3>
    
**Combine two dataframes using outer join to contain all the data and drop the rows with empty cells.**
<br><br>

In [315]:
merge = pd.merge(choosedf,chooseT,how = 'outer', on = 'DATE')
merge = merge.dropna()

----
<font size=3>
    
**Review the dataframe to make sure everything is correct.**
<br><br>

In [316]:
merge

          DATE  Price    Return    Rate
0   2019-12-31  61.14 -0.008433  0.0152
1   2020-01-02  61.17  0.000491  0.0151
2   2020-01-03  63.00  0.029917  0.0149
3   2020-01-06  63.27  0.004286  0.0153
4   2020-01-07  62.70 -0.009009  0.0151
..         ...    ...       ...     ...
248 2020-12-24  48.18  0.005006  0.0009
249 2020-12-28  47.50 -0.014114  0.0011
250 2020-12-29  47.85  0.007368  0.0010
251 2020-12-30  48.24  0.008150  0.0008
252 2020-12-31  48.35  0.002280  0.0009

[250 rows x 4 columns]

----
<font size=3>
    
**Calculate the Excess Return as oil returns - 3 month treasury bill rate and convert the data to percentage.**
<br><br>

In [317]:
merge['Excess Return'] = (merge['Return']-merge['Rate'])*100

----
<font size=4>
    
**Got the excess rate we want and output to excel.**
<br><br>

In [318]:
merge

          DATE  Price    Return    Rate  Excess Return
0   2019-12-31  61.14 -0.008433  0.0152      -2.363334
1   2020-01-02  61.17  0.000491  0.0151      -1.460932
2   2020-01-03  63.00  0.029917  0.0149       1.501663
3   2020-01-06  63.27  0.004286  0.0153      -1.101429
4   2020-01-07  62.70 -0.009009  0.0151      -2.410901
..         ...    ...       ...     ...            ...
248 2020-12-24  48.18  0.005006  0.0009       0.410626
249 2020-12-28  47.50 -0.014114  0.0011      -1.521374
250 2020-12-29  47.85  0.007368  0.0010       0.636842
251 2020-12-30  48.24  0.008150  0.0008       0.735047
252 2020-12-31  48.35  0.002280  0.0009       0.138027

[250 rows x 5 columns]

In [319]:
merge.to_excel('Excess Return.xls')

<font size=6>
<br><br>     

**Log Cumulative Excess Return**

----
<font size=4>

**The one-period return for k-period(in this case, daily) is $\it R_t(k) = (R_t+1)(R_{t-1}+1)...(R_{t-k+1})-1$**

**The one-period log return is $r_t = log(1+R_t)$.**
<br><br> 
    
<font size=3>
    
**We want to calculate Cumulative Excess Return by using dataframe merge we got earlier. Name it CER.**
<br><br>

In [320]:
Prod = 1
for data in merge['Excess Return']:
    Prod = Prod*(1+data)
CER = Prod-1

----
<font size=3>
    
**Calculate Cumulative Log Excess Return and convert it to percentage.**
<br><br>

In [321]:
LogCER = np.log(1+CER)*100
LogCER

16286.148361081765